@model List<TelesalesSchedule.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

@{var n = 0;}

<div>
    <div>
        <h2>Computers</h2>
        <hr />

        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th colspan="3" style="text-align:center">Monday</th>
                    <th colspan="3" style="text-align:center">Thuesday</th>
                    <th colspan="3" style="text-align:center">Wednesday</th>
                    <th colspan="3" style="text-align:center">Thursday</th>
                    <th colspan="3" style="text-align:center">Friday</th>
                    <th colspan="3" style="text-align:center">Saturday</th>
                    <th colspan="3" style="text-align:center">Sunday</th>
                </tr>
                <tr style="background-color:cornflowerblue">
                    <th>09-13</th>
                    <th >13-17</th>
                    <th>17-21</th>
                    <th>09-13</th>
                    <th>13-17</th>
                    <th>17-21</th>
                    <th>09-13</th>
                    <th>13-17</th>
                    <th>17-21</th>
                    <th>09-13</th>
                    <th>13-17</th>
                    <th>17-21</th>
                    <th>09-13</th>
                    <th>13-17</th>
                    <th>17-21</th>
                    <th>09-13</th>
                    <th>13-17</th>
                    <th>17-21</th>
                    <th>09-13</th>
                    <th>13-17</th>
                    <th>17-21</th>
                </tr>
            </thead>
           <tbody>
               @foreach (var pc in Model)
               {
                   if (n % 2 == 0)
                   {
                    @:<tr class="alert-active">
                    }
                   else
                   {
                    @:<tr>
                    }

                    <td>@pc.MondayShiftOneStart</td>
                    <td>@pc.MondayShiftOneEnd</td>
                    <td></td>
                   n++;
               }
           </tbody>
        </table>
    </div>
</div>
